<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="actor">
      <h2 data-cy="actorDetailsHeading"><span>Actor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ actor.id }}</span>
        </dd>
        <dt><span>Nombre</span></dt>
        <dd>
          <span>{{ actor.nombre }}</span>
        </dd>
        <dt><span>Bio</span></dt>
        <dd>
          <span>{{ actor.bio }}</span>
        </dd>
        <dt><span>Pelicula</span></dt>
        <dd>
          <span *ngFor="let pelicula of actor.peliculas; let last = last">
            <a [routerLink]="['/pelicula', pelicula?.id, 'view']">{{ pelicula.titulo }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/actor', actor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
